<nav class="navbar navbar-fixed-top ng2-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ng2-googlechart</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div> /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="jumbotron">
    <h1>Angular 2 Google Chart Library</h1>
    <p> Draw Simply...</p>
  </div>

</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">ng2-googlechart Configuration</div>
        <div class="panel-body">
          <textarea rows="43" cols="50" style="width:100%;height:100%">
Step 1:
Add the following code into your index.html

  <script src="https://www.google.com/jsapi"></script>
  <script >
  google.load('visualization', '1.0', {
      'packages': ['corechart']
    });
    </script>
  
Step 2:
Install ng2-googlechart into your project

  npm install ng2-googlechart --save

Step 3: 
Configure Module (app.module.ts)

  import { BrowserModule } from '@angular/platform-browser';
  import { NgModule } from '@angular/core';

  import {Ng2GoogleChartModule} from 'ng2-googlechart';

  import { AppComponent } from './app.component';

  @NgModule({
    declarations: [
      AppComponent
    ],
    imports: [
      BrowserModule,
      FormsModule,
      HttpModule,
      Ng2GoogleChartModule
    ],
    providers: [],
    bootstrap: [AppComponent]
  })
  export class AppModule { }
             </textarea>


        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Column Chart</div>
        <div class="panel-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#column" role="tab">Chart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#columnhtml" role="tab">app.component.html</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#columnts" role="tab">app.component.ts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#coloumncss" role="tab">app.component.css</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="column" role="tabpanel">
              <div chart class="chart" [data]="data" [options]="options" [labels]="labels" [columnTypes]="columnTypes" [chartType]="'Column'"></div>
            </div>
            <div class="tab-pane" id="columnhtml" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%">
             
            
             <div class="chart" 
                    chart 
                    [data]="data" 
                    [options]="options" 
                    [labels]="labels" 
                    [columnTypes]="columnTypes" 
                    [chartType]="chartType">
             </div>
         </textarea>
            </div>
            <div class="tab-pane" id="columnts" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%">
            
            
            import { Component } from '@angular/core';

            @Component({
              selector: 'app-root',
              templateUrl: './app.component.html',
              styleUrls: ['./app.component.css']
            })
            export class AppComponent {

              labels = ['DS', 'LD', 'EC', 'M3', 'DS Lab', 'EC Lab'];
              data = [83, 75, 67, 50, 90, 35];

              columnTypes = [{
                'type': 'string',
                'value': 'subjectName'
              },
                {
                  'type': 'number',
                  'value': 'Marks'
                }];

              chartType = 'Column';

              options = {
                'width': 750,
                'height': 400,
                'bars': 'vertical',
                'chartArea': { 'left': 150, 'bottom': 50, 'right': 100, 'top': 50 },
                hAxis: {
                  title: 'Subject'
                },
                vAxis: {
                  title: 'Marks'
                }
              }
            }
            </textarea>
            </div>
            <div class="tab-pane" id="coloumncss" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%"> 
                .chart{
                    width: 100%;
                    min-height: 400px;
                }
                </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Pie Chart</div>
        <div class="panel-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Pie" role="tab">Pie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#piehtml" role="tab">app.component.html</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#piets" role="tab">app.component.ts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#piecss" role="tab">app.component.css</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="Pie" role="tabpanel">
              <div chart class="chart" [data]="data" [options]="options" [labels]="labels" [columnTypes]="columnTypes" [chartType]="'Pie'"></div>
            </div>
            <div class="tab-pane" id="piehtml" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%">
             
            
             <div class="chart"
                    chart  
                    [data]="data" 
                    [options]="options" 
                    [labels]="labels" 
                    [columnTypes]="columnTypes" 
                    [chartType]="chartType">
             </div>
         </textarea>
            </div>
            <div class="tab-pane" id="piets" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%">
           
            
            import { Component } from '@angular/core';

            @Component({
              selector: 'app-root',
              templateUrl: './app.component.html',
              styleUrls: ['./app.component.css']
            })
            export class AppComponent {

              labels = ['DS', 'LD', 'EC', 'M3', 'DS Lab', 'EC Lab'];
              data = [83, 75, 67, 50, 90, 35];

              columnTypes = [{
                'type': 'string',
                'value': 'subjectName'
              },
                {
                  'type': 'number',
                  'value': 'Marks'
                }];

              chartType = 'Pie';

              options = {
                'width': 750,
                'height': 400,
                'bars': 'vertical',
                'chartArea': { 'left': 150, 'bottom': 50, 'right': 100, 'top': 50 },
                hAxis: {
                  title: 'Subject'
                },
                vAxis: {
                  title: 'Marks'
                }
              }
            }
            </textarea>
            </div>
            <div class="tab-pane" id="piecss" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%"> 
                .chart{
                    width: 100%;
                    min-height: 400px;
                }
                </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs -->
      <div class="panel panel-primary">
        <div class="panel-heading">Bar Chart</div>
        <div class="panel-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Bar" role="tab">Bar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#barhtml" role="tab">app.component.html</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#barts" role="tab">app.component.ts</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#barcss" role="tab">app.component.css</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="Bar" role="tabpanel">
              <div chart class="chart" [data]="data" [options]="options" [labels]="labels" [columnTypes]="columnTypes" [chartType]="'Bar'"></div>
            </div>
            <div class="tab-pane" id="barhtml" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%"> 
                
            
                <div class="chart" 
                      chart
                      [data]="data" 
                      [options]="options" 
                      [labels]="labels" 
                      [columnTypes]="columnTypes" 
                      [chartType]="chartType">
                </div>
                </textarea>
            </div>
            <div class="tab-pane" id="barts" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%">
            
                
            import { Component } from '@angular/core';

            @Component({
              selector: 'app-root',
              templateUrl: './app.component.html',
              styleUrls: ['./app.component.css']
            })
            export class AppComponent {

              labels = ['DS', 'LD', 'EC', 'M3', 'DS Lab', 'EC Lab'];
              data = [83, 75, 67, 50, 90, 35];

              columnTypes = [{
                'type': 'string',
                'value': 'subjectName'
              },
                {
                  'type': 'number',
                  'value': 'Marks'
                }];

              chartType = 'Bar';

              options = {
                'width': 750,
                'height': 400,
                'bars': 'vertical',
                'chartArea': { 'left': 150, 'bottom': 50, 'right': 100, 'top': 50 },
                hAxis: {
                  title: 'Subject'
                },
                vAxis: {
                  title: 'Marks'
                }
              }
            }
            </textarea>
            </div>
<div class="tab-pane" id="barcss" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%"> 
                .chart{
                    width: 100%;
                    min-height: 400px;
                }
                </textarea>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs -->
      <div class="panel panel-primary">
        <div class="panel-heading">Line Chart</div>
        <div class="panel-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#line" role="tab">Line Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#linehtml" role="tab">app.component.html</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#linets" role="tab">app.component.ts</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#linecss" role="tab">app.component.css</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="line" role="tabpanel">
              <div chart class="chart" [data]="data" [options]="options" [labels]="labels" [columnTypes]="columnTypes" [chartType]="'Line'"></div>
            </div>
            <div class="tab-pane" id="linehtml" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%"> 
                
            
                <div class="chart" 
                      chart
                      [data]="data" 
                      [options]="options" 
                      [labels]="labels" 
                      [columnTypes]="columnTypes" 
                      [chartType]="chartType">
                </div>
                </textarea>
            </div>
            <div class="tab-pane" id="linets" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%">
            
                
            import { Component } from '@angular/core';

            @Component({
              selector: 'app-root',
              templateUrl: './app.component.html',
              styleUrls: ['./app.component.css']
            })
            export class AppComponent {

              labels = ['DS', 'LD', 'EC', 'M3', 'DS Lab', 'EC Lab'];
              data = [83, 75, 67, 50, 90, 35];

              columnTypes = [{
                'type': 'string',
                'value': 'subjectName'
              },
                {
                  'type': 'number',
                  'value': 'Marks'
                }];

              chartType = 'Line';

              options = {
                'width': 750,
                'height': 400,
                'bars': 'vertical',
                'chartArea': { 'left': 150, 'bottom': 50, 'right': 100, 'top': 50 },
                hAxis: {
                  title: 'Subject'
                },
                vAxis: {
                  title: 'Marks'
                }
              }
            }
            </textarea>
            </div>
            <div class="tab-pane" id="linecss" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%"> 
                .chart{
                    width: 100%;
                    min-height: 450px;
                }
                </textarea>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12">


      <div class="panel panel-primary">
        <div class="panel-heading">Combo Chart</div>
        <div class="panel-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#combo" role="tab">Chart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#combohtml" role="tab">app.component.html</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#combots" role="tab">app.component.ts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#combocss" role="tab">app.component.css</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="combo" role="tabpanel">
              <div class="chart" combo-chart [data]="data1" [options]="options1" [labels]="rowlabels" [columnTypes]="columnlabels">
              </div>
            </div>
            <div class="tab-pane" id="combohtml" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%"> 
                
            
                <div class="chart" 
                 combo-chart
                 [data]="data" 
                 [options]="options" 
                 [labels]="labels" 
                 [columnTypes]="labels">
                 </div>
                </textarea>
            </div>

            <div class="tab-pane" id="combots" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%">
            
                
            import { Component } from '@angular/core';

            @Component({
              selector: 'app-root',
              templateUrl: './app.component.html',
              styleUrls: ['./app.component.css']
            })
            export class AppComponent {

              rowlabels = ['DS','EC','LD','CPP'];
              data = [[10,15,20,30], [70,80,65,90]];
       

              columnTypes = [{
                    'type': 'string',
                    'value': 'subjectName'
                },
                {
                    'type': 'number',
                    'value': 'Internal Score'
                }, {
                    'type': 'number',
                    'value': 'External Score'
                }];

              options = {

                
                  'vAxis': {
                      'title': ' Scores',
                      'ticks': [0, 25, 50, 75, 100, 125, 150]
                  },
                  backgroundColor:'transparent',
                  'hAxis': {
                      'title': 'Courses',
                      'slantedText': 'true',
                      'slantedTextAngle': 45
                  },
                  'legend': {
                      'position': 'top',
                      'alignment': 'end'
                  },
                  'colors': ['#d4ae5d', '#8aa8a1'],
                  'isStacked': true,
                  seriesType: 'bars',
                 
                  'bar': {
                      'groupWidth': '40%'
                  },
                  lineWidth: 0,
                  animation: {
                      startup: true,
                      duration: 500,
                      easing: 'out',
                  }

              };
            }
            </textarea>
            </div>
            <div class="tab-pane" id="combocss" role="tabpanel">
              <textarea rows="20" cols="50" style="width:100%"> 
                .chart{
                    width: 100%;
                    min-height: 400px;
                }
                </textarea>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>


</div>