body{
    color: #00303f !important;
}

.ng2-navbar{
    background-color: #76323F !important;
    color: #ffffff !important;
}
.navbar-brand{
      color: #ffffff !important;
}

.chart{
    width: 100%;
    min-height: 400px;
}